.loader-div{
  background: rgba(0, 0, 0, 0.692);
  position: fixed;
  top: 0px;
  left:0px;
  width: 100%;
  height: 100vh;
  z-index: +300;
}
.loader-div>span{
  display: inline-block;
  width: 100px;
  height: 100px;
  background: transparent;
  border: 15px solid rgba(255, 255, 255, 0.856);
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
  box-sizing: content-box;
}
.loader-div>span>span{
  display: inline-block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 10px solid rgba(255, 68, 0, 0.637);
  animation: rotate-loader 1s linear infinite forwards;
  z-index: +3;


}
.loader-div>span>span>span{
  z-index: +3;
  width: 10px;
  height: 10px;
  border: 5px solid white;
  position: absolute;
  top: 15px;
  left:2px;
  border-radius: 50%;
}
@keyframes rotate-loader{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.loader-hide{
  display: none;
}

.success, .error{
  background: rgba(255, 255, 255, 0.774);
  width: 250px;
  height: 100px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: green;
  border-radius: 10px;
  border-top-right-radius: 0px;
  box-shadow: 0px;
  border: none;
  padding: 15px 25px;
  animation: slide-in 1s ease-in-out both;
  display: inline-block;
}
.error{
  color: rgb(153, 0, 0);
  background: rgba(255, 0, 0, 0.267);
}
.success h4, .error h4{
  margin: 0px;
  text-transform: capitalize;
}
.success span, .error span{
  font-size: 15px;
  
}
.slide-out{
  animation: slide-out 1s 3s ease-in-out both;
}
@keyframes slide-in{
  from{
    transform: translateX(+300px);
  }
}
@keyframes slide-out{
  to{
    transform: translateX(+300px);
  }
}
.no-feedback{
  display: none;
}