*{
    box-sizing: border-box;
}

@font-face{
    font-family: Poppins;
    src: url('./../fonts/Poppins-SemiBold.otf');
}
.signin-text{
    font-family: Poppins, sans-serif;
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

.signin-input{
    width: 50%;
    height: 70px;
    position: relative;
    margin: 15px auto;
    color: white;
    overflow: hidden;
}
.signin-input input{
    width: 100%;
    height: 70%;
    color: lightgrey;
    font-style: italic;;
    padding-top: 20px;
    border: none;
    background: transparent;
    outline: none;
}
.signin-input input[type="password"]{
    font-size: 30px;
    padding-right: 40px; 
}
.signin-input label{
    position: absolute;
    bottom: 20px;
    left: 0%;
    width: 100%;
    height: 70%;
    pointer-events: none;
    border-bottom: 1px solid lightgrey;

}
.signin-input label::after{
    content: '';
    position: absolute;
    left:0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid white;
    transform: translateX(-100%);
    transition: transform 0.5s ease;

}
.signin-input label span{
    position: absolute;
    bottom: 5px;
    left:0px;
    transition: transform 0.3s ease;
}
.signin-input input:focus + label span, 
.signin-input input:valid + label span {
    transform: translateY(-130%);
}
.signin-input input:focus + label::after, 
.signin-input input:valid + label::after {
    transform: translateX(0%);
}
.si-btn{
    background: white;
    border: none;
    padding: 10px 40px;
    border-radius: 7px;
    display: block;
    margin: 50px auto;
    color: dimgrey;
    transition: 0.5s;
    outline: none;
    z-index: +1;
  }
  .si-btn:hover{
      box-shadow: 1px 1px 50px white;
  } 
  i.fa-eye, i.fa-eye-slash{
      float: right;
      position: absolute;
      right: 10px;
      bottom: 5px;
      color: white;
      cursor: pointer;
      z-index: +2;
      pointer-events: all;
  }

div.si-input-feedback, .c-input-feedback{
    color: orange;
    position: absolute;
    z-index: +300;
    bottom: 0px;
    font-size: 12px;
}
.c-input-feedback{
    position: static;
    float: left;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}